
body{
    background-color: $lightLavender;
}
.homeitem{
    color: purple;
}

.scrollmenu{
 overflow: hidden;
  background-color: pink;
  font-family: Arial;
  color: pink;
  text-align: right;
}
.box{
    border: 1px solid blue;
    border-radius: 5%;
    background-color: rgba(230, 230, 250, 0.493);
    box-shadow: 2px 2px black;
    width: 50%;
    height: 70%;
    margin: 2.5%;
    padding: 2%;
    text-size-adjust: 100%;
    overflow: scroll;
}

.box::-webkit-scrollbar {
    display: none;
  }
    
