.generate-recs-btn{
    color: $darkPurple2;
    background-color: pink;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-size: 1.75em;
    height: fit-content + 2%;
    width: fit-content + 2%;
}