<html>
	<head>
		
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />

		<title>Personify ~ About</title>
		<div class="scrollmenu">
			<a href="home"><button class = "home-btn">Home</button></a>
			<a href="about"><button class = "about-btn">About Us</button></a>
			<a href="login"><button class = "login-btn">Connect Your Spotify Account</button></a>
		  </div>
	</head>
	
	<body >
		<div class = contact-box>
			<div class = "Ariel">
				<div class = "Ariel-img"></div>
				<br>
				<center>Ariel Brice</center>
				<center>BS Computer Science</center>
				<center></center>
				<center></center>
				
				
			</div>
			<div class = "Cass">
				<div class = "Cass-img"></div>
				<br>
				<center>Cass Hunt</center>
				<center>BS Computer Science, BS Psychology</center>
				<center></center>
				<center></center>
			</div>
			
			<div class = "Hannah">
				<div class = "Hannah-img"></div>
				<br>
				<center>Hannah Si’itia</center>
				<center>BS Computer Science</center>
				<center>siitiahm@plu.edu</center>
				<center>Database development and managing, model development</center>

			
			</div>
	</body>
</html>