<html>
	<head>
		
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<!--<link rel="stylesheet" href="styles/style.css"/>-->
		
		<title>Contact Us</title>
		<div class="scrollmenu">
			<a href="home"><buttom href = "home-btn">Home</buttom></a>
			<a href="contact">Contact</a>
			<a href="about">About Us</a>
			<a href="login">Sign In</a>
		  </div>
	</head>
	
	<body>
        Contact Us

		<div class = contact-box>
			<div class = "Ariel">
				<div class = "Ariel-img"></div>
				<center>Ariel Brice</center>
				<center>briceal@plu.edu</center>
				
				
			</div>
			<div class = "Cass">
				<div class = "Cass-img"></div>
				<center>Cass Hunt</center>
				<center>cass.j.hunt@plu.edu</center>
			</div>
			
			<div class = "Hannah">
				<div class = "Hannah-img"></div>
				<center>Hannah Si’itia</center>
				<center>siitiahm@plu.edu</center>
			
			</div>
			
		</div>
	</body>
</html>