<script src="https://kit.fontawesome.com/a1dabbfe3b.js" crossorigin="anonymous"></script>
<html>
	<head>
	
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<!--<link rel="stylesheet" href="styles/style.css"/>-->
		
		<title>Personify: Home</title>


		<!--
			The words for the header
			<div class = "header">
			<div class = "words">
				<h1 class = "titleP">Personify</h1>
				<p class = "sub">Making Music Personal</p>
				
			</div> -->
			<div class="scrollmenu">
				<a href="home"><button class = "home-btn">Home</button></a>
				<a href="about"><button class = "about-btn">About Us</button></a>
				<a href="login"><button class = "login-btn">Connect Your Spotify Account</button></a>
				
		  	</div>
		</div>
		  
	</head>
	<body >
		
			<div class="box">
		
			<h1>Welcome to Personify</h1>
			<p>Personify is a machine learning based model that learns from the songs that
				uses the songs that you like the most and provides some recommendations in
				return! By logging in through your Spotify account and hitting 'generate',
				our model gets to analyze songs it hasn't seen before, and use these songs
				to predict which songs from our database that you'll also like.</p>
			<i class="fa-brands fa-spotify"></i>
			<p>Personify uses an algorithm called k-means clustering to make predictions.
				Our database with nearly 18,000 songs also contains numerical audio analysis
				for each song. K-means works by splitting all the songs based on those features,
				grouping and re-grouping until the most generative or predictive groups are formed.
				We add your songs to our database and re-train our model with them added. Once the
				model decides which groups, or clusters, your songs fall into, we use your most common
				cluster to pick new recommendations from.</p>
			<br></br>
			<i class="fa-solid fa-moon"></i>
			
			</div>
		
	</body>
</html>