<script src="https://kit.fontawesome.com/a1dabbfe3b.js" crossorigin="anonymous"></script>
<html>
	<head>
	
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<!--<link rel="stylesheet" href="styles/style.css"/>-->
		
		<title>Personify: Home</title>


		<!--
			The words for the header
			<div class = "header">
			<div class = "words">
				<h1 class = "titleP">Personify</h1>
				<p class = "sub">Making Music Personal</p>
				
			</div> -->
			<div class="scrollmenu">
				
				<a href="home"><button class = "home-btn">Home</button></a>
				<a href="contact"><button class="contact-btn">Contact</button></a>
				<a href="about"><button class = "about-btn">About Us</button></a>
				<a href="login"><button class = "login-btn">Connect Your Spotify Account</button></a>
		  	</div>
		</div>
		  
	</head>
	<body >
		
			<div class="box">
		
			<h1>Large text heading goes for this section</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<i class="fa-brands fa-spotify"></i>
			<p>This is our Spotify Homepage, Here we will give you some information about our application and how to use it.</p>
			<br></br>
			<i class="fa-solid fa-moon"></i>
			<p>Where We take your astrology signs and your spotify songs and create you a brand new playlist!</p>
			
			</div>
		
	</body>
</html>