
<html>
	<head>
	
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<!--<link rel="stylesheet" href="styles/style.css"/>-->
		
		<title>Personify: Home</title>
		<h1>Personify</h1>
		<p>Making Music Personal</p>
		<div class="scrollmenu">
			<a href="home" ><button type = "button">Home</button></a>
			<a href="contact"><button type = "button">Contact</button></a>
			<a href="about"><button type = "button">About Us</button></a>
			<a href="login"><button type = "button">Sign In</button></a>
		  </div>
		  
	</head>
	
	<body >
		<div class="tab-content col-md-12" 
		style="	width:600px;
		opacity: .5;
        margin:10px;">Testing </div>
        This is our Spotify Homepage
	</body>
</html>