<html>
	<head>
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<title>Personify</title>
		<div class="scrollmenu">
			<a href="home"><button class = "home-btn">Home</button></a>
			<a href="about"><button class = "about-btn">About Us</button></a>
			<a href = "user"><button class = "name-btn">{{name}}</button></a>
		  </div>
	</head>
	<body>
      <div class = "playlist-container">

		
        <div class="playlist-box">
			<table><tr>
				<th>Title</th>
				<th>Artist</th>
			</tr>
			{% for artists, titles in playlist %}
			
				<tr>			
					<td>{{artists}}</td>
					<td>{{titles}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<button class = "new-playlist-btn"><a href = "playlist">new-playlist</a></button>
        <button class = "export-playlist-btn"> <a href = "export">export-playlist</a></button>
	  </div>
	</body>
</html>