<html>
	<head>
		<link rel = "stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
		<title>Personify</title>
		<div class="scrollmenu">
			<a href="home"><button class = "home-btn">Home</button></a>
			<a href="contact"><button class="contact-btn">Contact</button></a>
			<a href="about"><button class = "about-btn">About Us</button></a>
			<a href = "user"><button class = "name-btn">{{name}}</button></a>
		  </div>
	</head>
	<body>
		<h1><center>{{name}}'s Playlist</center></h1>
      <div class = "playlist-container">

		
        <div class="playlist-box">
			<table>
				<tr>
					<th>TITTLE</th>
					<th>ARTIST</th>
				</tr>
				<tr>
					<td>Never Gonna Give You Up</td>
					<td>Rick Astley</td>
				</tr>
				<tr>
					<td>All Star</td>
					<td>Smash Mouth</td>
				</tr>
				
				<tr>
					<td>S.I.M.P (Squirrels in My Pants)</td>
					<td>2 Guys n the Parque</td>
				</tr>
				<tr>
					<td>Man or Muppet</td>
					<td>Jason Seqel</td>
				</tr>
				<tr>
					<td>The Duck Song</td>
					<td>The Duck</td>
				</tr>
				<tr>
					<td>Mine Diamonds</td>
					<td>Mcap Steve</td>
				</tr>
				<tr>
					<td>The Winner Takes It All</td>
					<td>ABBA</td>
				</tr>
				<tr>
					<td>Cooking By The Book</td>
					<td>Lazytown</td>
				</tr>
					

			</table>
			
		</div>
		<button class = "new-playlist-btn">new-playlist</button>
        <button class = "export-playlist-btn">export-playlist</button>
	  </div>
	</body>
</html>